.legendToggle {
  cursor: pointer;
}

.legendIndicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid;
  cursor: pointer;
  background-color: var(--indicator-color);
  border-color: var(--indicator-color);
}

.legendIndicatorHidden {
  background-color: transparent;
  border-color: #ccc;
}