.inputGroup {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; 
    overflow: hidden; 
    width: 250;
    border: 1px solid var(--mantine-color-gray-4);
    border-radius: var(--mantine-radius-sm);
}

.inputGroup:hover {
    background-color: var(--mantine-color-gray-0);
    cursor: pointer;
}

.input input {
    field-sizing: content;
}