.th {
    white-space: nowrap;
    padding: 0;
}

.td {
    white-space: nowrap;
}

.colHeadButton {
    width: 100%;
    text-align: left;
    font-size: inherit;
    font-weight: inherit;
    padding: var(--mantine-spacing-xs);
}

.colHeadButton:hover {
    background-color: var(--mantine-color-gray-0);
}

.thMenu {
    margin-left: var(--mantine-spacing-xs);
}

.stickyCol {
    position: sticky;
    background: #fff;
    left: 0;
    z-index: 2;
    white-space: nowrap;
}

.stickyCol::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #f0f0f0;
    z-index: 3;
    pointer-events: none;
}

/* Lighten table row hover color */
.row {
    transition: background-color 0.15s ease;
    cursor: pointer;
}

.row:hover,
.row:hover .stickyCol {
    background: var(--mantine-color-gray-0);
}

.state-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.25s;
}

.state-enabled {
    background-color: var(--mantine-color-green-6);
}

.state-paused {
    background-color: var(--mantine-color-yellow-6);
}

.state-archived {
    background-color: var(--mantine-color-red-6);
}

.negative {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8rem;
    height: 1.1rem;
    color: var(--mantine-color-red-5);
    border-color: var(--mantine-color-red-5);
    border-radius: var(--mantine-radius-sm);
    opacity: 0;
    width: 0;
    padding: 0;
    margin-right: 0;
}

.negative.visible {
    width: auto;
    opacity: 1;
    padding: 0.2rem;
    margin-right: var(--mantine-spacing-xs);
    border: 1px solid var(--mantine-color-red-5);
    animation: fadeInScale 0.3s ease-out;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0);
        width: 0;
        padding: 0;
        margin-right: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        width: auto;
        padding: 0.2rem;
        margin-right: var(--mantine-spacing-xs);
    }
}